body {
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Raleway', sans-serif;
}

footer {
    font-family: 'Raleway', sans-serif;
}



.navigation-items.link:hover,
.navigation-items.link:focus {
    color: var(--primary-brand-color);
}
.navigation-items
{color: aquamarine;}

.navigation-items.link:active {
    color: var(--primary-brand-color);
}

.logo-link {
width: 71px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.logo-web {
width: 44px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: #4D5AE5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.logo-link-footer {
width: 71px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* CLOUD */

color: #F4F4FD;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.logo-web-footer {
width: 44px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: #4D5AE5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;   
}


.footer-text {

width: 264px;
height: 72px;
left: 156px;
top: 2418px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CORNFLOWER */

color: #E7E9FC;

}

.footer-blank {
width: 1440px;
height: 310px;
left: 0px;
top: 2280px;
background: #2E2F42;
}
